@font-face {
    	font-family: "OpenSans-Regular";
    	src: url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
    }

@font-face {
    	font-family: "OpenSans-Light";
    	src: url('../fonts/OpenSans-Light.eot') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype');
    }

@font-face {
    	font-family: "OpenSans-Bold";
    	src: url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
    }

@font-face {
    	font-family: "OpenSans-Semibold";
    	src: url('../fonts/OpenSans-Semibold.eot') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.woff2') format('woff2'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    }

@font-face {
	font-family: "Cormorant Regular";
/*
	src: url("../fonts/Cormorant-Garamond-600.eot") format('embedded-opentype');
	src: local('O'),
		url('../fonts/Cormorant-Garamond-600.woff') format('woff'),
		url('../fonts/Cormorant-Garamond-600.ttf') format('truetype');
*/
	src: url('../fonts/CormorantGaramond-Regular.eot');
	src: url('../fonts/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/CormorantGaramond-Regular.otf') format('otf'), 
		 url('../fonts/CormorantGaramond-Regular.woff') format('woff'), 
		 url('../fonts/CormorantGaramond-Regular.ttf') format('truetype'), 
		 url('../fonts/CormorantGaramond-Regular.svg') format('svg');
}

@font-face {
	font-family: 'Cormorant Garamond Medium';
	src: url('../fonts/CormorantGaramond-Medium.eot');
	src: url('../fonts/CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/CormorantGaramond-Medium.otf') format('otf'), 
		 url('../fonts/CormorantGaramond-Medium.woff') format('woff'), 
		 url('../fonts/CormorantGaramond-Medium.ttf') format('truetype'), 
		 url('../fonts/CormorantGaramond-Medium.svg') format('svg');
}

@font-face {
	font-family: 'Cormorant Garamond Regular';
	src: url('../fonts/CormorantGaramond-Regular.eot');
	src: url('../fonts/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/CormorantGaramond-Regular.otf') format('otf'), 
		 url('../fonts/CormorantGaramond-Regular.woff') format('woff'), 
		 url('../fonts/CormorantGaramond-Regular.ttf') format('truetype'), 
		 url('../fonts/CormorantGaramond-Regular.svg') format('svg');
}

img {
    pointer-events: none;
}
body {
	width: 100%;
	font-weight: normal !important;
	background-color: #EAE9E9;
	color: #4F5858;
	font-family: "OpenSans-Regular";
	letter-spacing: 0.5px;
	font-size: 14px;
	background-image: url(../images/gradient.jpg);
}

html, body {
    width: 100%;
    height: 100%;
}

.h2, h2, .h3, h3 {
    font-size: 30px;
}

.h4, h4 {
    font-size: 30px;
}

a {
	color: #4F5858;
}

a:hover {
    color: #F15625 !important;
    text-decoration: none;
}

hr {
	border-color: #4F5858;
}

section {
	margin-top: 70px;
	height: 100%;
	min-height: 100vh;
}

.white_bg {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar-toggler-icon {
    display: block;
    height: 2px;
    width: 24px;
    margin: 4px 0px;
    background-image: none !important;
    background-color: #888;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #4f5859;
}
.navbar-expand-lg .navbar-nav {
    padding-right: 2.5rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 15px;
    padding-right: 3.5rem;
    padding-left: 15px;
}
.navbar-expand-lg .navbar-nav .nav-email{
    margin-top: 16px;
    padding-right: 3.5rem;
    padding-left: 15px;
    display: block;
    padding: .5rem 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #4f5859;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #F15625;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #F15625;
}
.navbar-brand img {
	width: 180px;
}
.navbar-light .navbar-toggler {
	color: #4f5859;
	border: 0px;
	margin-top: 27px;
	top: 0px;
	position: absolute;
	float: right;
	right: 0px;
}
.nav-item {
    text-align: left;
}

.sub_nav {
	width: 100%;
	background-color: #DADBDA;
	color: #4F5858;
	text-align: center;
	padding: 12px;
	line-height: 26px;
}
.sub_nav ul {
	display: inline-flex;
}
.sub_nav .active, .sub_nav a:hover, .sub_nav a:focus, .subpro_parent a:focus {
	color: #F15625;
}
.subpro {
/*	padding-left: 50px;
	padding-right: 50px;
*/
	text-align: left;
	display: inline-block;
	font-size:16px;
}
.subpro_parent {
	padding-left: 0px;
	padding-right: 50px;
	text-align: left;
	/*font-weight: bolder;*/
}

.proj-flex-col a:hover{
	font-family: "OpenSans-Regular" !important;
}

.padd-top {
	padding-top: 15px;
}
.padd-top-subsequent{
	padding-top: 30px;
}
.portfolio-item {
    padding: 5px;
}

.portfolio-people {
    padding: 5px;
}

@media only screen and (max-width : 576px) {
    .portfolio-item,.location-item {
	    padding: 5px 15px;
    }
    .portfolio-people {
        padding: 10px 15px;
    }

}

.card {
    background-color: transparent;
    border-radius: 0px;
    height:100%;
}

.card-body {
    background-color: #424143;
	color: #fff;
	padding: 0.6rem;
    height:35px;

}

.card-body a {
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0, 0.5);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 260px;
    object-fit: cover;
}

.card-title {
    font-size: 12px;
    margin-bottom:0px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-name {
    font-size: 13px;
    margin-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	text-transform: uppercase;
}

.card-text {
    font-size: 11px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.card {
    border: 0px;
}

.card-project-img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    object-fit: cover;
    height: 90vh ;
    width: auto ;
    max-width: 100% ;
}

/**** IE 10 specific styles ***/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .img-fluid {
        height: 100% !important;
        width: auto !important;
        max-width: 100% !important;
    }
}

.ex_padd {
    text-align: center;
    padding-bottom: 55px;
    padding-top: 50px !important;
}

.btn-outline-dark {
    color: #4F5858;
    border-color: #4F5858;
}
.btn-outline-dark:hover {
    background-color: #4F5858;
    border-color: #4F5858;
}

.footer {
    font-size: 14px;
}

.footer a {
	color: #4F5858;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

.footer a:hover {
	color: #F15625;
}

footer {
    display: block;
    background-color: #F15625;
    clear: both;
    bottom: 0;
    width: 100%;
    z-index: 100;
	height: 37.5px;
}

.footer__links {
    -moz-box-align: center;
    -moz-box-pack: justify;
    align-items: center;
    background-color: transparent;
    display: table;
    padding: 0px;
	margin: 0 auto;
	height: 37.5px;
}

footer ul, ol {
    list-style-type: none;
    margin-bottom: 7px;
    padding: 0;
}

.companylist__item {
    float: left;
    margin-right: 0.7rem;
}

.companylist__item a {
    display: block;
    float: left;
    font-size: 0;
    height: 23px;
    line-height: 0;
    width: 23px;
}

.carousel-item {
  height: calc(var(--vh, 1vh) * 96);
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
    top: 100px;
    bottom: 0px;
	left: 14%;
	right: 50%;
    color: #fff;
    text-align: left;
	font-weight: bold;
}

.font-os-light{
	font-family: "OpenSans-Light";
}

.font-os-bold{
	font-family: "OpenSans-Regular";
	font-weight:bold;
}

.font-os-semibold{
	font-family: "OpenSans-Semibold";
}

.font-os-regular{
	font-family: "OpenSans-Regular";
}

.carousel-caption h3 {
    font-size: 50px;
	font-family: "OpenSans-Light";
}

.carousel-caption p {
	font-family: "OpenSans-Bold";
	
}

.icon_arrow a {
    height: 100%;
	width: 100%;
	color: #fff;
	height: auto;
	z-index: 999;
	position: absolute;
	bottom: 150px;
	text-align: center;
}

.logo_transparent {
    bottom: 18px;
	position: absolute;
	height: 100%;
	width: 90%;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 400px;
}

.logo_multiple {
    bottom: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 300px;
}

.navbar-brand {
    float: left;
    padding: 5px;
    width: 170px;
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: left;
	height: 55px;
}

.mobile {
	display: none;
}

.white_bg_head {
	background-color: #fff !important;
}

.mobile_show {
    display:none;
}

.envelope {
    font-size: 25px;
    color: #4f5859;
    margin-top: 26px !important;
    font-weight: normal !important;
/*    right: 3%;
    position: fixed;
*/
    top: 0px;
}

@media only screen and (min-width : 991px) {
    .container-fluid {
        padding: 0px 0px !important;
    }
}

@media only screen and (max-width : 991px) {
    .logo_multiple {
	    background-size: 150px;
    }
		
    .navbar {
	    padding: 0px;
	    background-color: transparent !important;
    }
	
    .white_bg_head {
	    background-color: #fff !important;
	    height: 37px;
	    display: inline;
    }
	
    .navbar-collapse {
	    background-color: #fff;
    }

    .envelope {
        font-size: 21px;
        color: #4f5859;
        margin-top: 1px !important;
        font-weight: normal !important;
        right: 18%;
        position: fixed;
        top: 0px;
    }
	
    .navbar-light .navbar-toggler {
        margin-top: 4px;
    }
	
    section {
        margin-top: 37.5px;
    }
	
    .mobile {
        float: left;
        padding: 0px;
        background-size: 135px;
	  background-repeat: no-repeat;
	  background-position: left;
	  margin-left: 15px;
	  display: inherit;
	  height: 37px;
    }

    .mobile_show {
        display: block;
    }

    .mobile_title_header {
        height: 34px;
        background-color: #fff !important;
        display: none;
        margin-top: 37px;
        padding: 3px;
        padding-left: 13px;
    }
    .mobile_title_header span {
        color: #A8AAA4;
    }

    .desktop {
        display: none;
    }

    .final-menu{
        padding-bottom:20px;
    }

    .panel-heading h4{
        text-align:center;
    }

    .project .panel-heading h4{
        text-align:left;
    }
    .project .justify-content-md-center>div{
        padding-left:0px;
        padding-right:0px;
    }
    .project, #feedback .container>.row{
        padding-left:3px;
        padding-right:3px;
    }
    #sec_project .row, .div_homepage .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    .pro-detail, #sec_about_us .container, #feedback .container{
	  padding-left: 15px !important;
	  padding-right: 15px !important;
    }
    .container{
	  max-width:100% !important;
    }
    #sec_office .row{
        padding-left: 13px;
    }
    #sec_office .row>div{
        padding-left: 0px;
    }
    .portfolio-item{
        padding: 5px;
    }
    #sec_people .row {
        padding-left: 25px;
        padding-right: 25px;
    }
    .portfolio-people {
        padding: 10px 6px;
    }
    #sec_people_detail .row{
        padding-left:1px;
        padding-right:1px;

/*
        padding-left:7px;
        padding-right:7px;
*/
    }
    #feedback .form-check{
        padding-left: 1rem;
    }

    .location-item{
        padding-left:0px !important;
        padding-right:15px !important;
    }
}

.grey_box {
	height: 100%;
	width: 100%;
	background-color: #4F5858;
	color: #fff;
	height: auto;
	z-index: 999;
/*	position: absolute;
	bottom: 0;
*/
	text-align: center;
	font-size: 30px;
	padding: 40px;
	background-repeat: repeat;
	background-size: 460px;
}

.grey_box a {
	color: #fff;
}

.grey_box a:hover, .icon_arrow a:hover {
	color: #F15625;
}

.orange {
	color: #F15625;
/*	font-weight: bold;*/
}

.people {
	background-color: transparent;
    position: absolute;
    bottom: 20px;
	width: 100%;
}

.form-control::-webkit-input-placeholder { color: #4f5858; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #4f5858; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #4f5858; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #4f5858; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #4f5858; }  /* Microsoft Edge */
/*
.form-control::placeholder {
    color: #4f5858 !important;
    opacity: 0.3;
}

.form-control:-ms-input-placeholder {
    color: #4f5858 !important;
	opacity: 0.3;
}
*/
.form-control {
    padding: .375rem 0rem;
    font-size: 12px;
    line-height: 1.5;
    color: #4f5858;
    border: 0px;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	width: 100%;
	letter-spacing: 0.5px;
padding: 6px;
}

.form-group label {
	color: #fff;
	font-size: 12px;
	margin-bottom: 0px;
}

.pdpa {
    color: #fff;
	line-height: 17px;
	font-size: 12px;
	border-bottom: 1px solid #fff;
}

.pdpa a {
    color: #F15625;;
	line-height: 17px;
	font-size: 12px;
}

.pdpa a:hover {
	text-decoration: underline;
}

.pdpa .invalid-feedback {
	font-size: 12px;
	margin-bottom: 10px;
}

.white {
    color: #fff;
}

.send {
    font-size: 16px;
	background: transparent;
	border-radius: 0px;
	border: 0px;
	margin: 20px 0px;
}

.send:hover {
	background: #F15625;
}


@media only screen and (max-width : 600px) {
	.carousel-caption h3 {
    font-size: 40px;
}
	.carousel-caption {
    top: 100px;
    bottom: 0px;
}
	
	.logo_transparent {
	background-size: 250px;
}
	
	.grey_box {
	font-size: 22px;
	
}
}


.submenu {
	display: contents;
}

.nav-link {
    padding: 10px;
    padding-bottom: 0px;
    font-size: 16px;
}

.pro-detail {
	padding: 20px 30px 30px 30px !important;
}

.pro-detail h4 {
	font-family: "Cormorant Garamond Regular", Garamond;
}

.pro-detail p {
	font-family: "OpenSans-Semibold";
	margin-bottom: 0px;
	line-height: 20px;
}
.pro-detail .name {
	font-family: "OpenSans-Semibold";
	font-size: 14px;
}
.pro-detail .discipline {
	font-family: "OpenSans-Light";
	font-size: 13px;
	margin-left: 20px;
}
.pro-detail span {
	line-height: 20px;
	font-size: 14px;
	font-family: "Cormorant Garamond Regular", Garamond;
}

.pro-detail hr {
	margin-top: 15px;
	margin-bottom: 10px;
}


#project_info {
    height: 20rem !important;
}

input[type=text]:focus {
    color: #4f5858;
    box-shadow: 0 0 0px rgba(81, 203, 238, 1);
}

textarea:focus {
	color: #4f5858 !important;
	box-shadow: 0 0 0px rgba(81, 203, 238, 1) !important;
}

.icon-plus {
	width: 100%;
	padding: 20px;
}

.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
    color: #dc3545;
}

.form-check-input {
    margin-top: .1rem;
    margin-left: 0;
}

.custom-select {
    padding: 0px;
    color: #4f5858;
    vertical-align: middle;
    background-size: 17px;
    border: 0px;
    border-radius: 0px;
    font-size: 12px;
}

/* rwd-line for make footer 1/2 line for disclaimer and pdpa */                
.rwd-line { display: block; }
@media screen and (min-width: 768px){
	.rwd-line { display: inline; }
}



@media (min-width: 1170px) {
    .cfix {
        width: 1170px !important;
    }
}

/*PROJECT DROPDOWN*/
.bullet {
    display: none;
}

.panel, .list-group-item, .filter-button, .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-default > .panel-heading {
    background-color: transparent !important;
    border: 0px;
    box-shadow: none !important;
    text-align:left !important;
}


.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 4px 8px 5px 5px;
    white-space: nowrap;
}
.panel-heading h4 {
    font-size: 14px;
    margin-left: 0px;
    color: #4F5858;
    margin-bottom: 0px;
}
.panel-heading h4:hover, .panel-heading h4:active{
    font-family: "OpenSans-Bold";
}
.panel-group {
    margin-bottom: 0;
    margin-left: 15px;
    
}
.panel-title i {
    padding-left: 10px;
    font-size: 9px;
    display: table-caption;
}

@media only screen and (max-width : 768px) {
	
	.project .bullet {
        display: inherit !important;
        padding-left: 10px;
        font-size: 24px;
        line-height: 20px;
        position: absolute;
    }
    .project .panel-heading {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 15px 5px !important;
    }
	
	.project .panel-group {
		border-bottom: 1px solid #515959 !important;
    }
	
    .project .panel-group .collapse.show {
        display: flow-root;
        border-left: 1px solid #515959;
        margin-left: -7px;
        padding-left: 6px;
        margin-top: -35px;
        padding-top: 35px;
        background-color: #DADBDA;
        margin-bottom: 20px;
    }
    .container{
        margin-top: 0px;
    }
    #sec_people .row{
        padding-left:10px;
        padding-right:10px;
    }
	
	
}

.project .panel-group, .media .panel-group {
    margin-left: -1px !important;
}
.project .panel-group .filter-button, .media .panel-group .filter-button {
    width: 100%;
    white-space: normal;
    cursor: pointer;
}
.filter-button.active {
    color: #515959 !important;
}

.filter-button {
    border: 0 none;
    color: #f15625;
    font-size: 14px;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    padding-left: 5px;
	cursor: pointer;
}

.filter-button:hover
{
	color: #515959;
}

/* sub menu for about us page */
.panel-heading h4 a{
	font-size:16px;
}

#sec_about_us p, #sec_office p{
	font-size:15px;
	line-height:21px;
}
#sec_disclaimer p{
	font-size: 14px;
	line-height: 21px;
}

.div_homepage .my-4, #sec_people .my-4, .div_homepage .my-4, #sec_people_detail .my-4, #sec_disclaimer .my-4{
	font-size: 30px;
	line-height:36px;
	font-family: "Cormorant Garamond Regular", Garamond;
	padding-top:0px;
	margin-top:30px !important;
	letter-spacing: 0.5px;
	font-variant-caps: small-caps;
}

#sec_people_detail .my-4, #sec_disclaimer .my-4 {
	margin-bottom: 0px !important;
	margin-top: 50px !important;
}
.div_project_detail p, #sec_people_detail p{
	font-size:14px;
}
#sec_people .card-text{
	font-size:12px;
}
#sec_people_detail .orange{
	line-height:auto;
}
/* fix header to be same as footer height and centralise vertically */
.project>div, .about{
	margin-top: -3px;
}
.location-item{
	padding-left:0px;
	padding-right:0px;
}
#sec_office .container{
	padding-left:5px;
	padding-right:0px;
}
.pro-detail, #sec_about_us .container, #feedback .container{
	padding-left:5px;
}

.pro-detail {
	background-color: #fff;
}
.no-left-padding{
	padding-left:0px !important;
}
.container-fluid{
	max-width: 1170px;
	padding: 0 3%;
}

.navbar-feedback {
    font-size: 14px;
    line-height: 20px;
    margin-right: 20%;
    z-index: 9999;
    float: right;
}
.navbar-search {
    font-size: 14px;
    line-height: 20px;
    margin-right: 50px;
    z-index: 9999;
    float: right;
    position: absolute;
    right: 0px;
    top:0px;
}
.navbar-search img, .navbar-feedback img{
	margin-top:8px;
}
.search-form {
    border-radius: 0px;
    box-shadow: none;
    height: auto;
    width: auto;
    font-size: 20px;
    border: none;
    padding: 0px;
    background-color: transparent;
    margin-left: 5px;
    color: #000000;
}
#sec_search input[type="text"]:focus{
    color: #000000 !important;
}
.no-padding-left{
	padding-left:0px;
}
.padd-bot {
	padding-bottom: 37.5px;
}

.offset-1{
	margin-top: -7px;
}

.navbar-light .navbar-toggler-icon {
    height: 2px;
    width: 22px;
    margin: 4px 0px;
}

#div_footer .rwd-line{
    line-height:15px;
    font-size:13px;
	font-family: "OpenSans-Regular";
}

#sec_people_detail .container h4 {
    font-weight: normal !important;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    padding-bottom: 10px;
}
#div_search_text {
    height: 35px;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
    background-color: #edecec;
    top:70px;
    display:block;
}
#sec_search{
    z-index:1;
}
#div_search_loader {
    position: fixed;
    padding-left: 20%;
    z-index: 1;
}
.fa-3x {
    font-size: 2em;
}
#div_load_more{
	padding-top:35.7px;
	padding-bottom:15px;
}
#sec_project{
	margin-bottom: 0px !important;
}

.padd {
	padding: 5px;
}


.socialaccounts__item a {
    color: #424143;
    float: left;
    font-size: 1rem;
    line-height: 1;
    padding: 5px;
}

.socialaccounts__item {
    display: inline-block;
    margin-top: 5px;
}
